/* index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic custom styling */

body {
  font-family: 'Inter', sans-serif;
  background-color: #121212;
  color: #E0E0E0;
  margin: 0;
  padding: 0;
}

a {
  color: #E0E0E0;
  text-decoration: none;
}

a:hover {
  color: #BB86FC;
}

.bg-black {
  background-color: #000000 !important;
}

.text-white {
  color: #FFFFFF !important;
}

body {
  background-color: #000000;
}

section {
  background-color: #000000;
}

#root {
  background-color: #000000;
}

/* If you're seeing any gaps, this will help */
.overflow-hidden {
  overflow-x: clip;
}




