/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
    font-family: 'Inter', sans-serif;
    background-color: #121212; /* Dark theme base */
    color: #E0E0E0; /* Light text color */
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
